<p class="paragraph">My name is Mario Passerini. I am currently a sophomore in college, attending John Carroll University.
  I am pursuing a degree in Data Science with a specialization in Business Intelegence. I am also going for a Communications: Digital Media minor.
  I have always had a very big interest in technology growing up. It really took off when I took Cisco Networking and Cyber Security in high school.
  Ever since then, I have been trying to find the right path for me in the technology field.
</p>
